uvicorn[standard]
fastapi==0.103.1
pydantic==1.10.13
transformers
sentence-transformers
langchain
langchain-community
langchain-huggingface
langchain-pinecone
pinecone
pypdf
python-dotenv
ctransformers

-e .